* {
  margin: 0;
  padding: 0;
}
.bannerImage {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.regbox {
  width: 491px;
  margin-left: auto;
}
.passwordeye {
  position: relative;
  width: 90%;
}

.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
  width: 100%;
  margin: 10px 0 !important;
}

.eye {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.forgotbox {
  width: 100%;
  height: 100vh;
  background: #5f34f5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containbox {
  width: 30%;
  background: #fff;
  padding: 50px;
  border-radius: 10px;
}

.navbox {
  height: 100vh;
  background: #5f34f5;
  width: 186px;
  border-radius: 10px;
}

.icon {
  font-size: 50px;
  color: #fff;
}
